@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/*font-family: 'Dancing Script', cursive;*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100%;
}

.left {
    width: 35%;
    height: 100%;
    flex-shrink: 0;
}

.right {
    
}

.background-img {
    position: absolute;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.icon {
    width: 50px;
    height: auto;
}